.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding-left: 50px;
    padding-top: 30px;

    &__navigation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        &__navigationItem {
            font-size: medium;
            margin-right: 50px;
        }
    }
}

img {
    height: 45px;
    width: 50px;
}