.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &__title {
    height: 20%;
  }
  &__image {
    height: 40%;
    width: auto;
  }
}
